@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  padding: 5px;
  border: solid 1px black;
}

button {
  padding: 10px;
  background: lightblue;
  border: solid 1px black;
}

button:hover {
  cursor: pointer;
  background: yellow;
}
